@import url("/src/styles/GlobalStyles.scss");

.title1 {
  font-size: 1.125rem;
  font-weight: bold;
}
.title2 {
  font-family: "inter";
  font-size: 1rem;
  font-weight: bold;
}
.title3 {
  font-family: "inter";
  font-size: 0.875rem;
  font-weight: 700;
}
.headline {
  font-family: "inter";
  font-size: 0.75rem;
}
.headlineBold {
  font-family: "inter";
  font-size: 0.75rem;
  font-weight: bold;
}
.paragraph {
  font-family: "inter";
  font-size: 1rem;
}
